# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# Do not export these files and directories in the composer package
/src            export-ignore
/.github        export-ignore
/.gitignore     export-ignore
/.gitattributes export-ignore
/.editorconfig  export-ignore
/package.json   export-ignore
/package-lock.json export-ignore
/phpcs.xml.dist export-ignore
/phpstan.neon export-ignore